option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql+psycopg2://postgres:69h679M7e9raY268beJF@database-1.cql4kouiikp3.us-east-1.rds.amazonaws.com:5432/postgres"
    JWT_SECRET_KEY: "clave-super-secreta-cambiar-en-produccion"
    STATIC_JWT_TOKEN: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoic3RhdGljLXVzZXIiLCJyb2xlIjoiYWRtaW4ifQ.6bUHdYJk1cRnn-SVZEXAMPLEpR0fZ2mJb_YWbl8pW1lM"
    FLASK_ENV: "production"

